.product {
  display: flex;
}
.photo {
}
.photo img {
  height: 300px;
}
.product-detail {
  margin-left: 20px;
}
.btn {
  background-color: goldenrod;
  width: 180px;
  height: 35px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
